{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": { 
            "value": "Central US"
        },   
        "repositoryUrl": {
            "value": "https://github.com/<your-account>/azure-sql-db-session-recommender"
        },
        "repositoryToken": {
            "value": "<your-github-token>" 
        },
        "openAIKey": {
            "value": "<your-openai-key>" 
        },
        "openAIEndpoint": {
            "value": "<your-openai-url>" 
        },
        "sqlConnectionString": {
            "value": "Server=<your-server>.database.windows.net;Initial Catalog=<your-database>;Persist Security Info=False;User ID=session_recommender_app;Password=unEno!h5!&*KP420xds&@P901afb$^M;MultipleActiveResultSets=False;Encrypt=True;Connection Timeout=30;" 
        },
        "resourceTags": {
            "value": {}
        }
    }
}